<div nz-row style="width: 100%; padding: 0em 0em;">
  <nz-col nzSpan="24">
    <nz-card class="card_content" [nzTitle]="nzTitle2" [nzExtra]="extraTemplate"> 
      <div nz-row   style="z-index: 99;">
        <nz-col nzSpan="24">
          <div nz-row style=" margin:5px 5px; background: #040404;border:1px solid #ec6602">
            <nz-col nzSpan="24"> 
              <div id="local_stream" class="video-placeholder">
                <div id="local_video_info" class="video-info"></div>
              </div> 

            </nz-col>
          </div> 
        </nz-col> 
      </div>
    </nz-card> 
    </nz-col>
</div>